/* reset */

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

/* general */
:root {
	--color-header: #ff6900;
	--color-footer: #1a1a1a;
	--color-background: #ffffff;
    --color-flag-discount: #ff0000;
	--color-flag-sustainability: #008000;
    --color-txt: black;
    --color-contrast: white;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif; 
    background-color: var(--color-background);
    color: var(--color-txt);
}

/* header */

.fixed{
    background-color: var(--color-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header img{
    width: 100px;
}

.pd-header{
    padding: 20px 2px;
}

.gap{
    gap: 5px;
}

.mg-nav{
    margin-right: 5px;
}

/* main */

.product{
    width: calc(100% / 3 - 10px);
    margin-bottom: 20px;
}

/* container */

.container{
    max-width: 1000px;
    margin: auto;
}

.main-container{
    margin-top: 12%;
    margin-bottom: 5%;
}

/* footer */

footer{
    max-width: 100%;
    background-color: var(--color-footer);
    color: var(--color-background);
}

.pd-footer{
    padding: 20px 0px;
}

.pd-footer2{
    padding-top: 5px;
}

.pd-social{
    padding-right: 5px;
}

/* utility flex */

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.sp-between{
    justify-content: space-between;
}

.a-center{
    align-items: center;
    align-content: center;
}

/* utility position */

.p-abs{
    position: absolute;
}

.p-rel{
    position: relative;
}

.p-fixed{
    position: fixed;
}

/* txt */

i{
    /* padding: 5px 10px 5px 0px; */
    font-size: 16px;
    font-weight: 700;
    color: var(--color-background);
}

.nav-txt{
    font-size: 0.8em;
    font-weight: 700;
}

.txt-footer{
    font-size: 0.8em;
    font-weight: 700;
}

.txt-footer2{
    font-size: 0.6em;
}

.txt-footer3{
    font-size: 0.7em;
}

.txt-left{
    text-align: left;
}

/* color */

li>a{
    color: var(--color-background);
}

/* product */

.product{
    padding-bottom: 10px;
}

.product-name{
    font-size: 0.9em;
    font-weight: 700;
}

.price{
    font-size: 0.7em;
}

.now{
    font-weight: 700;
    color: var(--color-flag-discount);
}

.before{
    text-decoration: line-through;
}

.tag-container{
    position: absolute;
    bottom: calc(100% / 15);
    display: flex;
}

.tag{
    font-size: 0.7em;
    font-weight: 700;
    color: var(--color-background);
    padding: 3px;
}

.discount{
    background-color: var(--color-flag-discount);
}

.sustainable{
    background-color: var(--color-flag-sustainability);
}

.heart{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: var(--color-background);
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    text-align: center;
}

/* decoration */

.sec-image{
    display: none;
}

.product:hover .main-image{
    display: none;
}

.product:hover .sec-image{
    display: block;
}

.heart:hover{
    color: var(--color-flag-discount)
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

i:hover, .product:hover, .logo:hover{
    cursor: pointer;
}